@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(226, 226, 226);
}

.youtube-button {
  padding: 20px;
  color: #fff;
  background-color: #cc181e;
  display: flex;
  width: 600px;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.watermark
{
 position:fixed;
 opacity:0.1;
 z-index:99;
 color:white;
}

.counts {
  padding: 20px;
  display: flex;
  background-color:rgb(255, 255, 255);
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.align-right {
  font-size: 72px;
  text-align: right;
}

i {
  font-size: 72px;
  margin-right: 20px;
}

p {
  font-size: 72px;
  margin: 0px;
  width: 100%
}

span {
  margin-right: 4px;
}

#rounded-corners {
  border-radius: 10px;
}